<div class="clearfix"></div>
<footer id="pageFooter" role="contentinfo">
    <div class="container-fluid col-lg-10 col-lg-offset-1 em8">
        <div class="col-md-6 strip-pm">
            <p class="strip-pm"><a href="tel://000-777-888-999" title="Call Us">Telephone: 000777888999</a></p>
            <p><a href="mailto:me@somewhere.com" title="Email Us">Email: me@somewhere.com</a></p>
        </div>
        <div class="col-md-6 strip-pm text-right">
            <p><b>Rocktime</b></p>
            <p>
                15 Factory Road, Upton<br>
                Poole, Dorset BH16 5SN
            </p>
            <p>
                000-777-888-999<br>
                000-777-777-777 <i>(when we are very busy)</i>
            </p>
            <p><small>&copy;copyright 2016 Rocktime  | <a href="#">Terms &amp; Conditions</a></small> </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</footer>