<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/colorbox.css" rel="stylesheet" />
</head>

<body>
    @{ Html.RenderAction("Index", "Header", new { catchall = "home" } ); }
    @RenderBody()
    @Html.Partial("_Footer")
  
    @RenderSection("scripts", required: false)
</body>
</html>
